body {
    padding-top: 210px;
}

a:link, a:visited {
    color: #6C5B7B;
    visited: #355C7D;
}

.nav-item {
    font-family: 'Glegoo', serif;
    font-size: 1.6rem;
}

.inner-container {
    margin-left: 8px;
    margin-right: 8px;
}

.my-nav {
    background-color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 60px;
}

.nav-ul-margins {
    margin-left:auto;
    margin-right: 0%;
}

.navbar-brand-box {
    /*border: 2px;
    border-color: #C06C84;
    border-style: solid;*/
    background-color: #6C5B7B;
    font-family: 'Glegoo', serif;
    font-size: 35px;
    width: 100px;
    height: 100px;
}

.logo-text {
    color: white;
    position: relative;
    top: 23%;
    left: 12%;
}

.jumbotron {
    background-color: #6C5B7B;
    color: white;
    border-radius: 0rem;
}

h1.display-3 {
    font-family: 'Glegoo', serif;
    font-size: 3.8rem;
}

p {
    margin-top: 1rem;
    font-family: 'Heebo', sans-serif;
    font-size: 1.8rem;
}

.card-text {
    font-size: 1.1rem;
}

.btn {
    border-radius: 0rem;
    border-width: 0;
}

.btn-primary {
    background-color: #6C5B7B;
    border-width: 0px;
}

.filter-container {
    margin-bottom: 4rem;
}

.active {
    background-color: #6C5B7B;
    color: white;
}

.nav-item {
    background-color: white;
}

footer {
    margin-top: 4rem;
}

.mytext {
/*    margin-left: 3rem;
    margin-right: 3rem;*/
    font-size: 1.5rem
    font-family: 'Roboto', sans-serif;
}

.card {
    border: 0px;
}

h2 {
    font-family: 'Glegoo', serif;
    text-align: center;
}

.my-footer-text {
    font-size: 1rem;
}